---
const year = new Date().getFullYear();
---

<footer>
  <div class="wrap row">
    <div>© {year} Phidea</div>
    <div>
      <a href="insurance.html">Insurance</a> &nbsp;·&nbsp;
      <a href="evidence.html">Evidence</a> &nbsp;·&nbsp;
      <a href="developers.html">Developers</a> &nbsp;·&nbsp;
      <a href="newsletter.html">Newsletter</a>
    </div>
  </div>
</footer>
