---
const year = new Date().getFullYear();
---

<footer>
  <div class="wrap row">
    <div>© {year} Phidea · <a href="mailto:benoit@phidea.fr">benoit@phidea.fr</a></div>
    <div>
      <a href="index.html">Flagship</a> &nbsp;·&nbsp;
      <a href="angles.html">Angles</a> &nbsp;·&nbsp;
      <a href="newsletter.html">Newsletter</a>
    </div>
  </div>
</footer>
